<div class="row">
  <div class="col-xs-12">
    <form #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control"
          id="email"
          type="email"
          ngModel
          name="email"
          required
          email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
          id="password"
          type="password"
          ngModel
          name="password"
          required
          minlength="6">
      </div>
      <div class="form-group">
        <button class="btn btn-primary"
          [disabled]="!authForm.valid">{{isLogin ? 'login': 'Sign Up'}}</button>
        |
        <button class="btn btn-primary"
          type="button"
          (click)="onSwitchMode()">Switch to {{isLogin ? 'Sign Up': 'Login'}}</button>
      </div>
    </form>
  </div>
</div>
